  body{
    font-family: "Lucida Console", Cursive, Times;
    background-color: rgb(65, 65, 65);
  }
  .mainWrapper{
    width: auto;
    /* margin: 0 auto; */
  }
  .navigation{
    height: 60px;
    /* padding-top: 60px; */
    /* width: 524px; */
    margin: 0 40px;
  }
  .logo{
    width: 25%;
    float: left;
    padding-top: 30px;
    font-size: 35px;
    font-weight: 700;
    color: rgb(11, 207, 187);
  }
  nav{
    width: 75%;
    float: right;
    padding-top: 40px;
    text-align: right;
  }
  nav a{
    font-size: 25px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 0 20px;
  }

  .navSeparator{
    border: 1.5px solid rgb(204, 215, 215);
    border-radius: 15px;
    /* width: auto; */
  }

  .main {
    margin: 270px 20px 0 20px;
    /* background-color: rgb(98, 101, 103); */
  }
  
  /* .banner-area{
    animation-name: animate;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    height: 100vh;
  } */
  .displayText{
    text-align: center;
    width: auto;
    /* margin: 0 auto; */
  }

  .displayText h2{
    font-size: 55px;
    color: rgb(255, 255, 255);
    margin: 10% 0 0 0;
    /* padding-bottom: 0; */
  }
  
  .displayText h3{
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    margin: 0 0 15px;
    font-size: 35px;
  }

  .displayText a{
    display: inline-block;
    margin: 50px 0 10px 0;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 19px;
    background: #f6f6f6;
    font-weight: 600;
    padding: 10px;
    border-radius: 10px;
  }
  /* .displayText a{
    text-decoration: none;
    background: #262626;
    color: rgb(0, 0, 0);
    padding: 15px 60px;
    font-size: 18px;
    display: inline-block;
    margin-top: 5%;
    border-radius: 50px;
  } */
  /* .displayText p{
    font-size: 18px;
    color: rgb(0, 0, 0);
    width: 70%;
    margin: 0 auto;
    line-height:1.9;
  } */
  /* @keyframes animate {
    0%{
      background: #29306a;
    }
    25%{
      background: #e60084;
    }
    50%{
      background: #ad7c66;
    }
    75%{
      background: #005762;
    }
    100%{
      background: #4c9ab6;
    }
  }
  
  .aboutContent h2{
    float: left;
  }

  .aboutContent img{
    margin: 10px;
    float: right;
    width: 650px;
    height: 600px
  } */