  *{
    margin: 0;
    padding: 0;
  }
  body{
    font-family: "Lucida Console", Cursive, Times;
    background-color: rgb(65, 65, 65);
    
  }
  .mainWrapper{
    /* width: auto; */
    /* background-color: white; */
    /* margin: 0 auto; */
  }
  .navigation{
    background-color: rgb(112, 112, 112);
    height: 60px;
    padding-bottom: 10px;
    /* width: auto; */
    /* margin: 0 40px; */
  }
  .logo{
    /* width: 29%; */
    /* text-decoration: none; */
    float: left;
    padding: 36px 0 0 10px;
    margin-left: 50px;
    /* padding: 36px 0 0 10px;
    font-size: 2vw;
    font-weight: 700;
    color: rgb(11, 207, 187); */
  }
  .logo a{
    font-size: 2vw;
    text-decoration: none;
    color: rgb(11, 207, 187);
    /* padding: 36px 0 0 10px; */
    /* float: left; */
    font-weight: 700;
    /* margin: 0; */
  }
  .nav{
    /* width: 69%; */
    float: right;
    padding: 40px 10px 0 0;
    text-align: right;
    margin-right: 50px;
  }
  .nav a{
    font-size: 1.5vw;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 0 20px;
  }

  .navSeparator{
    /* margin: 1% 0; */
    border: 1.5px solid rgb(204, 215, 215);
    border-radius: 15px;
    /* width: auto; */
  }

  .main {
    margin: 270px 20px 0 20px;
    /* background-color: rgb(98, 101, 103); */
  }
  
  /* .banner-area{
    animation-name: animate;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    height: 100vh;
  } */
  .displayText{
    text-align: center;
    width: auto;
    /* margin: 0 auto; */
  }

  .displayText h2{
    font-size: 55px;
    color: rgb(255, 255, 255);
    margin: 10% 0 0 0;
    /* padding-bottom: 0; */
  }
  
  .displayText h3{
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    margin: 0 0 15px;
    font-size: 35px;
  }

  .displayText a{
    display: inline-block;
    margin: 50px 0 10px 0;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 19px;
    background: #f6f6f6;
    font-weight: 600;
    padding: 10px;
    border-radius: 10px;
  }
  /* .displayText a{
    text-decoration: none;
    background: #262626;
    color: rgb(0, 0, 0);
    padding: 15px 60px;
    font-size: 18px;
    display: inline-block;
    margin-top: 5%;
    border-radius: 50px;
  } */
  /* .displayText p{
    font-size: 18px;
    color: rgb(0, 0, 0);
    width: 70%;
    margin: 0 auto;
    line-height:1.9;
  } */
  /* @keyframes animate {
    0%{
      background: #29306a;
    }
    25%{
      background: #e60084;
    }
    50%{
      background: #ad7c66;
    }
    75%{
      background: #005762;
    }
    100%{
      background: #4c9ab6;
    }
  }
  */

  /**---- About Page Styling ----**/
  #aboutBG {
    /* background-color: rgb(42, 113, 110); */
  }
  .aboutContent {
    /* float: center; */
    text-align: center;
    width: 80%;
    margin: 0 10%;
    background-color: white;
  }

  .intro {
    width : 48%;
    float: left;
    padding:  2% 2% 0 0;
  }

  .intro h2{
    font-size: 1.8vw;
    margin: 50px 0 20px 0;
    /* color: ; */
  }

  .intro p{
    font-size: 1.3vw;
  }
  
  .aboutImg {
    width : 48%;
    float: right;
    padding:  2% 0 0 2% ;
  } 
  .aboutImg img{
    /* margin: 10px;
    float: right;
    width: 650px;
    height: 600px */
    max-width: 100%;
    max-height: 100%;
    border-radius: 2%;
  }

  /***** Skills *****/
  #skillSet{
    margin: 5% 0 0 10%;
  }

  #skillSet h2{
    font-size: 2vw;
    color: rgb(255, 255, 255);
    font-weight: bolder;
    text-transform: uppercase;
    margin-bottom: 3%;
  }

  #skillSet h3{
    font-size: 1.5vw;
    color: #EFC94C;;
    font-weight: bolder;
    text-transform: uppercase;
    margin-top: 2%;
    padding-bottom: 3px;
  }

  #skillSet span{
    padding: 2px 4px;
    background: #000000;
    border-radius: 9px;
    color: #fff;
    /* display: inline; */
    /* text-shadow: 0 0 3px #111c26; */
  }
