  *{
    margin: 0;
    padding: 0;
  }
  body{
    font-family: "Lucida Console", Cursive, Times;
  }
  .navigation{
    display: flex;
    background-color: rgb(0, 0, 0);
    height: 60px;
    padding-bottom: 10px;
    width: 100%;
  }
  .logo{
    width: 50%;
    /* text-decoration: none; */
    /* float: left; */
    padding: 36px 0 0 10px;
    margin-left: 50px;
    /* padding: 36px 0 0 10px;
    font-size: 2vw;
    font-weight: 700;
    color: rgb(11, 207, 187); */
  }
  .logo a{
    font-size: 1.9em;
    text-decoration: none;
    color: rgb(11, 207, 187);
    /* padding: 36px 0 0 10px; */
    /* float: left; */
    font-weight: 700;
    /* margin: 0; */
  }
  .nav{
    width: 50%;
    /* float: right; */
    padding: 40px 10px 0 0;
    text-align: right;
    margin-right: 50px;
  }
  .nav a{
    font-size: 1.4em;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 0 20px;
  }

  .navSeparator{
    /* margin: 1% 0; */
    border: 1.5px solid rgb(204, 215, 215);
    border-radius: 15px;
    /* width: auto; */
  }

  .main {
    margin: 270px 20px 0 20px;
    /* background-color: rgb(98, 101, 103); */
  }
  
  
  .displayText{
    text-align: center;
    width: auto;
    /* margin: 0 auto; */
  }

  .displayText h2{
    font-size: 4em;
    color: rgb(255, 255, 255);
    margin: 10% 0 0 0;
    /* padding-bottom: 0; */
  }
  
  .displayText h3{
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    margin: 0 0 15px;
    font-size: 2.5em;
  }

  .displayText a{
    display: inline-block;
    margin: 50px 0 10px 0;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 1.2em;
    background: #f6f6f6;
    font-weight: 600;
    padding: 10px;
    border-radius: 10px;
  }

  .animatedBg{
    height: 100vh;
    animation-duration: 20s;
    animation-name: magic;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }

  @keyframes magic {
    0%{
      background: rgba(255, 0, 0, 0.612);
    }
    14.2%{
      background: rgba(255, 170, 13, 0.646);
    }
    28.5%{
      background: rgb(231, 231, 54, 0.646);
    }
    42.8%{
      background: rgba(38, 113, 38, 0.587);
    }
    57.14%{
      background: rgba(0, 0, 255, 0.534);
    }
    71.42%{
      background: rgba(76, 0, 130, 0.518);
    }
    85.71%{
      background: rgba(145, 174, 52, 0.557);
    }
    100%{
      background: rgba(160, 48, 40, 0.664);
    }
  }
 

  .aboutContent {
    /* float: center; */
    text-align: center;
    width: 80%;
    margin: 0 10%;
    background-color: white;
  }

  .intro {
    width : 48%;
    float: left;
    padding:  2% 2% 0 0;
  }

  .intro h2{
    font-size: 1.8vw;
    margin: 50px 0 20px 0;
    /* color: ; */
  }

  .intro p{
    font-size: 1.3vw;
  }
  

  /********** Styling Links *************/
  /*** Active ***/
  .nav a:link {
    color: red;
  }

  .logo a:link {
    color: red;
  }

  .displayText a:link {
    color: red;
  }

  /*** Active ***/
  .nav a:active {
    color: blue;
  }

  .logo a:active {
    color: blue;
  }

  .displayText a:active {
    color: blue;
  }

  /*** Visited ***/
  .nav a:visited {
    color: rgb(203, 212, 194);
  }

  .logo a:visited {
    color:rgb(203, 212, 194);
  }

  .displayText a:visited {
    color:rgb(203, 212, 194);
  }

  /*** Hover ***/
  .nav a:hover {
    color: rgb(23, 192, 204);
  }

  .logo a:hover {
    color: rgb(23, 192, 204);
  }

  .displayText a:hover {
    color: rgb(23, 192, 204);
  }

  .flex-container {
    display: flex;
    /* flex-wrap: wrap; */
    /* justify-content: space-around; */
    /* justify-content: space-between; */
    justify-content: center;
    background-color: rgb(103, 156, 209);
    /* margin: auto; */
    /* height: 100%; */
  }

  .containerLeft {
    background-color: #273747;;
    margin: 10px;
    padding: 50px;
    /* font-size: 30px; */
    /* width: 100px; */
    width: 50%;
  }

  .containerRight {
    background-color: rgb(6, 7, 14);
    margin: 10px;
    padding: 20px;
    /* font-size: 30px; */
    /* width: 100px; */
    width: 50%;
  }

  .containerRight video{
    width: 100%;
    height: 100%;
  }  

  .containerRight img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 2%;
  }

  .containerLeft h2{
    font-size: 1.9em;
    color: rgb(255, 255, 255);
    font-weight: bolder;
    text-transform: uppercase;
    margin-bottom: 3%;
  }

  .containerLeft h3{
    font-size: 1.3em;
    color: #EFC94C;;
    font-weight: bolder;
    text-transform: uppercase;
    margin-top: 2%;
    padding-bottom: 3px;
  }

  .containerLeft span{
    padding: 2px 4px;
    background: #000000;
    border-radius: 9px;
    color: #fff;
    /* display: inline; */
    /* text-shadow: 0 0 3px #111c26; */
  }

  .containerLeft p{
    font-size: 1.2em;
    color: #8da0b5;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* font-weight: bolder; */
    /* text-transform: uppercase; */
    margin-bottom: 3%;
  }



  @media only screen and (max-width: 992px) {

    .navigation{
      display: flex;
      flex-direction: column;
      /* justify-content:  center; */
      /* flex-wrap: wrap; */
      background-color: rgb(0, 0, 0);
      height: 60px;
      padding-bottom: 100px;
      /* width: 100%; */
    }
    .logo{
      /* width: 30%; */
      /* text-decoration: none; */
      display: flex;
      /* flex-direction: column; */
      padding: 36px 0 0 10px;
      margin: auto;
      justify-content: center;
      /* padding: 36px 0 0 10px;
      font-size: 2vw;
      font-weight: 700;
      color: rgb(11, 207, 187); */
    }
    .logo a{
      font-size: 1.9em;
      text-decoration: none;
      color: rgb(11, 207, 187);
      /* padding: 36px 0 0 10px; */
      /* float: left; */
      font-weight: 700;
      /* margin: 0; */
    }
    .nav{
      /* width: 60%; */
      /* float: right; */
      display: flex;
      margin: auto;
      justify-content: center;
      padding: 40px 10px 0 0;
      text-align: right;
      /* margin-right: 50px; */
    }
    .nav a{
      font-size: 1.4em;
      text-decoration: none;
      color: rgb(255, 255, 255);
      padding: 0 20px;
    }






    .flex-container {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      background-color: rgb(103, 156, 209);
    }

    .containerLeft {
      background-color: #273747;;
      margin: 10px;
      padding: 50px;
      /* font-size: 30px; */
      /* width: 100px; */
      width: auto;
    }
  
    .containerRight {
      background-color: rgb(6, 7, 14);
      margin: 10px;
      padding: 20px;
      /* font-size: 30px; */
      /* width: 100px; */
      width: auto;
    }

    .containerRight img{
      max-width: 100%;
      max-height: 100%;
      border-radius: 2%;
    }

    .containerLeft h2{
      font-size: 1.5em;
      color: rgb(255, 255, 255);
      /* font-weight: bolder; */
      text-transform: uppercase;
      /* margin-bottom: 3%; */
    }
  
    .containerLeft h3{
      font-size: 1.1em;
      color: #EFC94C;;
      font-weight: bolder;
      text-transform: uppercase;
      margin-top: 2%;
      padding-bottom: 3px;
    }
  
    .containerLeft span{
      padding: 2px 4px;
      background: #000000;
      border-radius: 9px;
      color: #fff;
      font-size: 0.9em;
      /* display: inline; */
      /* text-shadow: 0 0 3px #111c26; */
    }

    .containerLeft p{
      font-size: 1.2em;
      color: #8da0b5;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      margin-bottom: 3%;
    }

    .containerRight video{
      width: 80%;
      height: 80%;
    } 
  } 

  @media only screen and (max-width: 346px){

    .navigation{
      display: flex;
      flex-direction: column;
      /* justify-content:  center;
      flex-wrap: wrap; */
      background-color: rgb(0, 0, 0);
      height: 60px;
      padding-bottom: 100px;
      /* width: 100%; */
    }
    .logo{
      /* width: 30%; */
      /* text-decoration: none; */
      /* float: left; */
      padding: 36px 0 0 10px;
      margin-left: 50px;
      /* padding: 36px 0 0 10px;
      font-size: 2vw;
      font-weight: 700;
      color: rgb(11, 207, 187); */
    }
    .logo a{
      font-size: 1.9em;
      text-decoration: none;
      color: rgb(11, 207, 187);
      /* padding: 36px 0 0 10px; */
      /* float: left; */
      font-weight: 700;
      /* margin: 0; */
    }
    .nav{
      /* width: 60%; */
      /* float: right; */
      padding: 40px 10px 0 0;
      /* text-align: right; */
      margin-right: 50px;
    }
    .nav a{
      font-size: 1.4em;
      text-decoration: none;
      color: rgb(255, 255, 255);
      padding: 0 20px;
    }




    .flex-container {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      background-color: rgb(103, 156, 209);
    }
    .containerLeft {
      background-color: #273747;;
      margin: 10px;
      padding: 50px;
      /* font-size: 30px; */
      /* width: 100px; */
      width: auto;
    }
  
    .containerRight {
      background-color: rgb(6, 7, 14);
      margin: 10px;
      padding: 20px;
      /* font-size: 30px; */
      /* width: 100px; */
      width: auto;
    }

    .containerRight img{
      max-width: 100%;
      max-height: 100%;
      border-radius: 2%;
    }

    .containerLeft h2{
      font-size: 0.7em;
      color: rgb(255, 255, 255);
      /* font-weight: bolder; */
      text-transform: uppercase;
      margin-bottom: 3%;
    }
  
    .containerLeft h3{
      font-size: 0.6em;
      color: #EFC94C;;
      font-weight: bolder;
      text-transform: uppercase;
      margin-top: 2%;
      padding-bottom: 3px;
    }
  
    .containerLeft span{
      padding: 2px 4px;
      background: #000000;
      border-radius: 9px;
      color: #fff;
      font-size: 0.7em;
      /* display: inline; */
      /* text-shadow: 0 0 3px #111c26; */
    }

    .containerRight video{
      width: 80%;
      height: 80%;
    } 
  }